/**
 * Structure of a partforum post
 * div.partforumpost(.read.unread)
 *     div.header.row
 *         div.picture.left
 *         div.topic(.starter)
 *             div.subject
 *             div.author
 *     div.row
 *         div.side.left
 *         div.content-mask
 *             div.content
 *                 div.attachments
 *                 div.posting(.shortenedpost|.fullpost)
 *                     // message
 *                 div.attachedimages
 *                     // attachedimages
 *     div.row
 *         div.left
 *         div.options
 *             div.commands
 *             div.post-word-count
 *             div.partforum-post-rating
 *             div.link
 *             div.footer
 */

.partforumpost {display: block;position:relative;margin:0 0 1em 0;padding:0;border:1px solid #000;max-width:100%;}
.partforumpost .row {width:100%;position:relative;}
.partforumpost .row .left {float:left;width: 43px;overflow:hidden;}
.partforumpost .row .left .grouppictures a {text-align:center;display:block;margin:6px 2px 0 2px;}
.partforumpost .row .left .grouppicture {width:20px;height:20px;}
.partforumpost .row .topic,
.partforumpost .row .content-mask,
.partforumpost .row .options {margin-left:43px;}
.partforumpost .picture img {margin:4px;}
.partforumpost .options .commands,
.partforumpost .content .attachments,
.partforumpost .options .footer,
.partforumpost .options .link {text-align:right;}
.partforumpost .options .partforum-post-rating {float:left;}
.partforumpost .content .posting {overflow:auto;max-width:100%;}
.partforumpost .content .attachedimages img {max-width:100%;}
.partforumpost .post-word-count { font-size: .85em; font-style: italic; }
.partforumpost .shortenedpost .post-word-count { display: inline; padding: 0 .3em; }

.dir-rtl .partforumpost .row .topic,
.dir-rtl .partforumpost .row .content-mask,
.dir-rtl .partforumpost .row .options {margin-right:43px;margin-left:0;}
.dir-rtl .partforumpost .row .left {float:right;}
.dir-rtl.path-mod-partforum .indent {
    margin-right: 3%;
    margin-left: 0;
}

.path-mod-partforum .partforumolddiscuss,
#page-mod-partforum-search .c0 {text-align:right;}
.path-mod-partforum .indent {
    margin-left: 3%;
}
.path-mod-partforum .partforumheaderlist {width: 100%;border-width:1px; border-collapse:separate;margin-top: 10px;}
.path-mod-partforum .partforumheaderlist td { }
.path-mod-partforum .partforumheaderlist th.header.replies .iconsmall { margin: 0 .3em;}
.path-mod-partforum .partforumheaderlist .picture {width: 35px;}
.path-mod-partforum .partforumheaderlist .discussion .starter {vertical-align: middle;}
.path-mod-partforum .partforumheaderlist .discussion .lastpost {white-space: nowrap;text-align: right;}
.path-mod-partforum .partforumheaderlist .replies,
.path-mod-partforum .partforumheaderlist .discussion .author {white-space: nowrap;}
.path-mod-partforum .partforumheaderlist thead .discussionsubscription {
    text-align: center;
}

/** Styles for subscribers.php */
#page-mod-partforum-subscribers .subscriberdiv,
#page-mod-partforum-subscribers .subscribertable {width:100%;vertical-align:top;}
#page-mod-partforum-subscribers .subscribertable tr td {vertical-align:top;}
#page-mod-partforum-subscribers .subscribertable tr td.actions {width:16%;padding-top:3em;}
#page-mod-partforum-subscribers .subscribertable tr td.actions .actionbutton {margin:0.3em 0;padding:0.5em 0;width:100%;}
#page-mod-partforum-subscribers .subscribertable tr td.existing,
#page-mod-partforum-subscribers .subscribertable tr td.potential {width:42%;}

/** Styles for discuss.php **/
#page-mod-partforum-discuss .discussioncontrols {width:100%;margin:5px;}
#page-mod-partforum-discuss .discussioncontrols .discussioncontrol {width:30%;float:left;}
#page-mod-partforum-discuss .discussioncontrol.exporttoportfolio {text-align:left;}
#page-mod-partforum-discuss .discussioncontrol.displaymode {text-align:center;}
#page-mod-partforum-discuss .discussioncontrol.movediscussion {float:right;width:auto;text-align:right;padding-right:10px;}
#page-mod-partforum-discuss .discussioncontrol.movediscussion .movediscussionoption {}

/** Styles for view.php **/
#page-mod-partforum-view .partforumaddnew {margin-bottom: 20px;}
#page-mod-partforum-view .groupmenu {float: left;text-align:left;white-space: nowrap;}
#page-mod-partforum-index .subscription,
#page-mod-partforum-view .subscription {float: right;text-align:right;white-space: nowrap;margin: 5px 0;}

/** Styles for search.php */
#page-mod-partforum-search .introcontent {padding: 15px;font-weight:bold;}

#page-mod-partforum-index .unread a:first-child,
#page-mod-partforum-view .unread a:first-child {padding-right: 10px;}
#page-mod-partforum-index .unread img,
#page-mod-partforum-view .unread img {margin-left: 5px;}
#page-mod-partforum-view .unread img {margin-left: 5px;}
.dir-rtl#page-mod-partforum-view .unread img {margin-right: 5px; margin-left: 0; }

/** Unknown Styles ??? */
#email .unsubscribelink {margin-top:20px;}

/* Forumpost unread
-------------------------*/
#page-mod-partforum-view .unread,
.partforumpost.unread .row.header,
.path-course-view .unread,
span.unread {
    background-color: #FFD;
}
.partforumpost.unread .row.header {
    border-bottom: 1px solid #DDD;
}

/* Discussion navigation */
.path-mod-partforum .discussion-nav {
    margin: .5em 0;
}
.path-mod-partforum .discussion-nav ul {
    margin: 0;
    list-style: none;
}
.dir-rtl.path-mod-partforum .discussion-nav .next-discussion:after,
.path-mod-partforum .discussion-nav .prev-discussion:before {
    content: ' ◄ ';
}
.dir-rtl.path-mod-partforum .discussion-nav .prev-discussion:before,
.path-mod-partforum .discussion-nav .next-discussion:after {
    content: ' ► ';
}
.dir-rtl.path-mod-partforum .discussion-nav .prev-discussion,
.path-mod-partforum .discussion-nav .next-discussion {
    float: right;
}
.dir-rtl.path-mod-partforum .discussion-nav .next-discussion,
.path-mod-partforum .discussion-nav .prev-discussion {
    float: left;
}

.path-mod-partforum .preload-subscribe {
    background: url([[pix:mod_partforum|t/subscribed]]) no-repeat -9999px -9999px;
}

.path-mod-partforum .preload-unsubscribe {
    background: url([[pix:mod_partforum|t/unsubscribed]]) no-repeat -9999px -9999px;
}

.path-mod-partforum .discussionsubscription {
    margin-top: -10px;
    text-align: right;
    margin-bottom: 10px;
}

.path-mod-partforum .discussionsubscription > a > img {
    width: 12px;
    padding: 0 4px;
}

.dir-rtl .path-mod-partforum .discussionsubscription {
    text-align: left;
}

#page-mod-partforum-view img.timedpost {
    margin-right: 5px;
}

.dir-rtl#page-mod-partforum-view img.timedpost {
    margin: 3px 0 0 5px;
    float: right;
}

/*----------added by hema-------*/
th.header.lastpost {
    text-align: right;
}

div#partforum_actions_button {
    width: 100%;
    float: right;
}

.partforum_instrction_link {
    text-align:center;
    font-size: 14px;
    color: #0070a8;
    text-decoration: none;
    cursor: pointer;
    display: block;
}
.partform_image_link{
    font-size: 14px;
    color: #0070a8;
    text-decoration: none;
    cursor: pointer;   
}



div#partforum_author {
    
    padding-right: 20px;
}


img#partform_img {
    width: 100%;
}